extend assets/pug/base/_elements

block vars
    -
        var page = {
                title: "Elements - Editorial by HTML5 UP"
            }

block header
    include assets/pug/layout/_header

block content
    include assets/pug/pages/elements/_content

block text-stuff
    include assets/pug/pages/elements/_text-stuff

block lists
    include assets/pug/pages/elements/_lists

block definition
    include assets/pug/pages/elements/_definition

block actions
    include assets/pug/pages/elements/_actions

block pagination
    include assets/pug/pages/elements/_pagination

block blockquote
    include assets/pug/pages/elements/_blockquote

block table
    include assets/pug/pages/elements/_table

block alternate
    include assets/pug/pages/elements/_alternate

block buttons
    include assets/pug/pages/elements/_buttons

block form
    include assets/pug/pages/elements/_form

block image
    include assets/pug/pages/elements/_image

block box
    include assets/pug/pages/elements/_box

block code
    include assets/pug/pages/elements/_code

block search
    include assets/pug/layout/_search

block menu
    include assets/pug/layout/_menu

block mini-posts
    include assets/pug/layout/_mini-posts

block contacts
    include assets/pug/layout/_contacts

block footer
    include assets/pug/layout/_footer

block scripts
    include assets/pug/layout/_scripts