extend assets/pug/base/_index

block vars
    -
        var page = {
                title: "Editorial by HTML5 UP"
            }

block header
    include assets/pug/layout/_header

block banner
    include assets/pug/layout/_banner

block features
    include assets/pug/layout/_features

block posts
    include assets/pug/layout/_posts
    
block search
    include assets/pug/layout/_search

block menu
    include assets/pug/layout/_menu

block mini-posts
    include assets/pug/layout/_mini-posts

block contacts
    include assets/pug/layout/_contacts

block footer
    include assets/pug/layout/_footer

block scripts
    include assets/pug/layout/_scripts