<!-- Section -->
section
	header.major
		h2 Get in touch
	p Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
	ul.contact
		li.fa-envelope-o
			a(href="#") information@untitled.tld
		li.fa-phone (000) 000-0000
		li.fa-home 1234 Somewhere Road #8254 #[br] Nashville, TN 00000-0000