<!-- Section -->
section
	header.major
		h2 Erat lacinia
	div.features
		article
			span.icon.fa-diamond
			div.content
				h3 Portitor ullamcorper
				p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
		article
			span.icon.fa-paper-plane
			div.content
				h3 Sapien veroeros
				p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
		article
			span.icon.fa-rocket
			div.content
				h3 Quam lorem ipsum
				p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
		article
			span.icon.fa-signal
			div.content
				h3 Sed magna finibus
				p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.