header#header
	a.logo(href="index.html") #[strong Editorial ] by HTML5 UP
		ul.icons
			li
				a(href="#").icon.fa-twitter
					span.label Twitter
			li
				a(href="#").icon.fa-facebook
					span.label Facebook
			li
				a(href="#").icon.fa-snapchat-ghost
					span.label Snapchat
			li
				a(href="#").icon.fa-instagram
					span.label Instagram
			li
				a(href="#").icon.fa-medium
					span.label Medium