<!-- Menu -->
nav#menu
	header.major
		h2 Menu
	ul
		li
			a(href="index.html") Homepage
		li
			a(href="generic.html") Generic
		li
			a(href="elements.html") Elements
		li 
			span.opener Submenu
			ul
				li
					a(href="#") Lorem Dolor
				li
					a(href="#") Ipsum Adipiscing
				li
					a(href="#") Tempus Magna
				li
					a(href="#") Feugiat Veroeros
		li
			a(href="#") Etiam Dolore
		li
			a(href="#") Adipiscing
		li 
			span.opener Another Submenu
			ul
				li
					a(href="#") Lorem Dolor
				li
					a(href="#") Ipsum Adipiscing
				li
					a(href="#") Tempus Magna
				li
					a(href="#") Feugiat Veroeros
		li
			a(href="#") Maximus Erat
		li
			a(href="#") Sapien Mauris
		li
			a(href="#") Amet Lacinia