<!-- Section -->
section
	header.major
		h2 Ante interdum
	div.mini-posts
		article
			a.image(href="#")
				img(src="images/pic07.jpg" alt="")
			p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
		article
			a.image(href="#")
				img(src="images/pic08.jpg" alt="")
			p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
		article
			a.image(href="#")
				img(src="images/pic09.jpg" alt="")
			p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
	ul.actions
		li
			a.button(href="#") More