doctype html

block vars

html(lang=page.language)
	head
		include ../layout/_head
	body.is-preload
		#wrapper
			#main
				.inner
					block header
					block content
			#sidebar
				.inner
					block search
					block menu
					block mini-posts
					block contacts
					block footer
		block scripts