h4 Actions
ul.actions
	li
		a(href="#").button.primary Default
	li
		a(href="#").button Default
ul.actions.small
	li
		a(href="#").button.primary.small Small
	li
		a(href="#").button.small Small
div.row
	div.col-6.col-12-small
		ul.actions.stacked
			li
				a(href="#").button.primary Default
			li
				a(href="#").button Default
	div.col-6.col-12-small
		ul.actions.stacked
			li
				a(href="#").button.primary.small Small
			li
				a(href="#").button.small Small
	div.col-6.col-12-small
		ul.actions.stacked
			li
				a(href="#").button.primary.fit Default
			li
				a(href="#").button.fit Default
	div.col-6.col-12-small
		ul.actions.stacked
			li
				a(href="#").button.primary.small.fit Small
			li
				a(href="#").button.small.fit Small