<!-- Buttons -->
h3 Buttons
ul.actions
	li
		a(href="#").button.primary Primary
	li
		a(href="#").button Default

ul.actions  
	li
		a(href="#").button.large Large
	li
		a(href="#").button Default
	li
		a(href="#").button.small Small

ul.actions                      
	li
		a(href="#").button.primary.large Large
	li
		a(href="#").button.primary Default
	li
		a(href="#").button.primary.small Small

ul.actions.fit
	li
		a(href="#").button.primary.fit Fit
	li
		a(href="#").button.fit Fit

ul.actions.fit.small
	li
		a(href="#").button.primary.fit.small Fit + Small
	li
		a(href="#").button.fit.small Fit + Small

ul.actions
	li
		a(href="#").button.primary.icon.fa-search Icon
	li
		a(href="#").button.icon.fa-download Icon

ul.actions
	li
		span.button.primary.disabled Primary
	li
		span.button.disabled Default
