<!-- Image -->
h3 Image
h4 Fit
span.image.fit
	img(src="images/pic11.jpg" alt="")
div.box.alt
	div.row.gtr-50.gtr-uniform
		div.col-4
			span.image.fit
				img(src="images/pic01.jpg" alt="")
		div.col-4
			span.image.fit
				img(src="images/pic02.jpg" alt="")
		div.col-4
			span.image.fit
				img(src="images/pic03.jpg" alt="")
		
		<!-- Break -->
		div.col-4
			span.image.fit
				img(src="images/pic03.jpg" alt="")
		div.col-4
			span.image.fit
				img(src="images/pic01.jpg" alt="")
		div.col-4
			span.image.fit
				img(src="images/pic02.jpg" alt="")
		
		<!-- Break -->
		div.col-4
			span.image.fit
				img(src="images/pic02.jpg" alt="")
		div.col-4
			span.image.fit
				img(src="images/pic03.jpg" alt="")
		div.col-4
			span.image.fit
				img(src="images/pic01.jpg" alt="")

h4 Left &amp; Right
p
	span.image.left
		img(src="images/pic01.jpg" alt="") 
	| Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
p
	span.image.right
		img(src="images/pic02.jpg" alt="")
	| Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
