<!-- Lists -->
h3 Lists
div.row
	div.col-6.col-12-small
		h4 Unordered
		ul
			li Dolor etiam magna etiam.
			li Sagittis lorem eleifend.
			li Felis dolore viverra.
		h4 Alternate
		ul.alt
			li Dolor etiam magna etiam.
			li Sagittis lorem eleifend.
			li Felis feugiat viverra.
	div.col-6.col-12-small
		h4 Ordered
		ol
			li Dolor etiam magna etiam.
			li Etiam vel lorem sed viverra.
			li Felis dolore viverra.
			li Dolor etiam magna etiam.
			li Etiam vel lorem sed viverra.
			li Felis dolore viverra.
		h4 Icons
		ul.icons
			li
				a(href="#").icon.fa-twitter
					span.label Twitter
			li
				a(href="#").icon.fa-facebook
					span.label Facebook
			li
				a(href="#").icon.fa-instagram
					span.label Instagram
			li
				a(href="#").icon.fa-github
					span.label Github
			li
				a(href="#").icon.fa-dribbble
					span.label Dribbble
			li
				a(href="#").icon.fa-tumblr
					span.label Tumblr