h4 Pagination
ul.pagination
	li 
		span.button.disabled Prev
	li 
		a(href="#").page.active 1
	li 
		a(href="#").page 2
	li 
		a(href="#").page 3
	li 
		span &hellip;
	li 
		a(href="#").page 8
	li 
		a(href="#").page 9
	li 
		a(href="#").page 10
	li 
		a(href="#").button Next