<!-- Table -->
h3 Table
h4 Default
div.table-wrapper
	table
		thead
			tr
				th Name
				th Description
				th Price
		tbody
			tr
				td Item1
				td Ante turpis integer aliquet porttitor.
				td 29.99
			
			tr
				td Item2
				td Vis ac commodo adipiscing arcu aliquet.
				td 19.99
			
			tr
				td Item3
				td  Morbi faucibus arcu accumsan lorem.
				td 29.99
			
			tr
				td Item4
				td Vitae integer tempus condimentum.
				td 19.99
			
			tr
				td Item5
				td Ante turpis integer aliquet porttitor.
				td 29.99
			
		tfoot
			tr
				td(colspan="2")
				td 100.00