<!-- Text stuff -->
h3 Text
p This is #[b bold] and this is #[strong strong]. This is #[i italic] and this is #[em emphasized]. 
	| This is #[sup superscript] text and this is #[sub subscript] text. 
	| This is #[u underlined] and this is code: #[code for (;;) { ... }]. 
	| Finally, this is a 
	a(href="#") link
hr
h2 Heading Level 2
h3 Heading Level 3
h4 Heading Level 4
hr
p Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
